body{
    background-color: #05921341 ;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: #000000;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    box-shadow: 5px 5px 10px #F3FF90;
    background-color:#99ec0059;
}

.quote{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.motivation-img{
    border: 5px solid white;
    width: 70%;
    margin-top: 10px;
}